USE [master]
GO
/****** Object:  Database [DDStoreDB]    Script Date: 10/26/2023 11:06:06 PM ******/
CREATE DATABASE [DDStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DDStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DDStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DDStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DDStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DDStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DDStoreDB]
GO
/****** Object:  User [hnd]    Script Date: 10/26/2023 11:06:06 PM ******/
CREATE USER [hnd] FOR LOGIN [hnd] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[PurchaseHistory]    Script Date: 10/26/2023 11:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseHistory](
	[UserName] [varchar](50) NULL,
	[ProductId] [varchar](50) NULL,
	[OrderDate] [datetime2](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_category]    Script Date: 10/26/2023 11:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_category](
	[categoryId] [varchar](50) NOT NULL,
	[categoryName] [varchar](50) NULL,
 CONSTRAINT [PK_tb_category] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_product2]    Script Date: 10/26/2023 11:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_product2](
	[productId] [varchar](50) NOT NULL,
	[productName] [varchar](100) NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[Price] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[image] [varbinary](max) NULL,
 CONSTRAINT [PK_tb_product2] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_user2]    Script Date: 10/26/2023 11:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_user2](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[Phone] [varchar](10) NULL,
	[Email] [varchar](100) NULL,
	[FullName] [varchar](100) NULL,
	[Address] [varchar](200) NULL,
	[Password] [varchar](100) NULL,
	[UserType] [varchar](20) NULL,
 CONSTRAINT [PK__tb_user2__1788CC4C241E8D8D] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
