<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="registerUserSoap">
          <security mode="Transport" />
        </binding>
        <binding name="registerUserSoap1" />
        <binding name="LoginSoap">
          <security mode="Transport" />
        </binding>
        <binding name="LoginSoap1" />
        <binding name="addCategorySoap">
          <security mode="Transport" />
        </binding>
        <binding name="addCategorySoap1" />
        <binding name="addProductSoap">
          <security mode="Transport" />
        </binding>
        <binding name="addProductSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44393/registerUser.asmx"
        binding="basicHttpBinding" bindingConfiguration="registerUserSoap"
        contract="registerServiceReference1.registerUserSoap" name="registerUserSoap" />
      <endpoint address="https://localhost:44393/Login.asmx" binding="basicHttpBinding"
        bindingConfiguration="LoginSoap" contract="loginServiceReference1.LoginSoap"
        name="LoginSoap" />
      <endpoint address="https://localhost:44393/addCategory.asmx"
        binding="basicHttpBinding" bindingConfiguration="addCategorySoap"
        contract="addCategoryServiceReference1.addCategorySoap" name="addCategorySoap" />
      <endpoint address="https://localhost:44393/addProduct.asmx" binding="basicHttpBinding"
        bindingConfiguration="addProductSoap" contract="addProductServiceReference1.addProductSoap"
        name="addProductSoap" />
    </client>
  </system.serviceModel>
</configuration>